@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  font-family: Roboto Mono;
  margin: 0;
  padding: 0;
  background-color: #2d3047;
  color: #faf9f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  border-radius: 3px;
  font-family: inherit;
  text-align: center;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

a {
  color: unset;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: #ed217c;
}
