@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: Roboto Mono;
  margin: 0;
  padding: 0;
  background-color: #2D3047;
  color: #FAF9F6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  background-color: #1B998B;
  margin: 20px;
  padding: 10px;
  text-align: center;
  font-size: 52px;
  font-weight: bold;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  font-family: inherit;
  text-align: center;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

footer {
  font-size: larger;
  text-align: center;
  color: white;
  margin-top: auto;
  margin-bottom: 10px;
}

a:visited {
  color: unset;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #ED217C;
}