body {
  font: 36px Futura, sans-serif;
  margin: 20px;
  background-color: #2D3047;
  color: #FAF9F6;
}

ol, ul {
  padding-left: 30px;
}

h1 {
  background-color: #1B998B;
  margin: auto;
  padding: 10px 10px;
  text-align: center;
  font-size: 52px;
  font-weight: bold;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
