/* Square */
.square {
  border: none;
  float: left;
  font-size: 50px;
  font-weight: bold;
  height: 80px;
  width: 80px;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color: #1B998B;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  margin: 10px;
}
.square:hover{
  background-color: #FF9B71;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.square:active {
  background-color: #ED217C;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.square:focus {
  outline: none;
}

/* Reset Button */
.reset {
  margin: 25px auto;
  text-align: center;
}
.resetButton {
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  background-color: #ED217C;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  color: white;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.resetButton:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.resetButton:focus {
  outline: none
}

/* Game */
.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.game-info {
  margin-left: 20px;
}

/* Board */
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
